/*
Inspired by Dr. Jenn Schiffer
https://twitter.com/jennschiffer/status/402822075317878784
*/
element {
	--to-the-fucking-moon: 1000000;
}

#danger-dashboard {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: var(--to-the-fucking-moon);
	padding: 0.5rem;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px 0 0;
    border-width: 1px 0px 0 1px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#danger-dashboard label {
	text-transform: none;
}

#danger-dashboard ul {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#danger-dashboard li:before {
	padding: 0.25rem;
	border-radius: 20px;
	margin-right: 0.5rem;
	display: inline-block;
	line-height: 0.7;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	font-size: 80%;
}

#danger-dashboard .unsupported {
	text-decoration: line-through;
	color: #800;
}

#danger-dashboard .unsupported:before {
	content: 'X';
	background: #800;
	border: 1px solid #800;
}

#danger-dashboard .native {
	color: #080;
}

#danger-dashboard .native:before {
	content: 'N';
	border: 1px solid #080;
	background: #080;
}

#danger-dashboard .polyfill {
	color: orange;
	border-bottom: 1px dotted orange;
}

#danger-dashboard .polyfill:before {
	content: 'P';
	background: orange;
}


